@media only screen and (max-width: 725px){
    div.boards{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    div.boards div.cards{
        margin: -2em;
    }
    div.boards > div.cards{
        margin-top: 5em;
    }
    div.boards div.cards.reverse{
        margin-bottom: 7em;   
    }
}
@media only screen and (max-width: 374px){
    div.boards div.cards{
        width: 200px;
    }
}